@import url('https://fonts.googleapis.com/css?family=Open+Sans:500');
#app {
  font-family: 'Open Sans', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f3f3f3;
  background-color: #000;
}

a {
  color: #f3f3f3;
}

.navbar-transparent {
  background-color: transparent !important;
}

.trailer-bg {
  position: relative;
}

.trailer-bg__video {
  width: 100%;
  outline: none;
}

.trailer-content {
  position: absolute;
  top: 20%;
  left: 10%;
}

.row::-webkit-scrollbar {
  width: 0;
}

.row {
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
}

.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.thumbnail {
  max-width: 204px;
  height: 250px;
}

.thumbnail:hover {
  cursor: pointer;
}

.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
  transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
  opacity: 0.3;
}

.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.tile:hover~.tile {
  -webkit-transform: translate3d(125px, 0, 0);
  transform: translate3d(125px, 0, 0);
}

.bg-white {
  background-color: #f3f3f3;
  color: #000000;
}

.hr-dark {
  background-color: #000000;
  height: 1px;
}
.footer {
  padding: 2em 5em;
  background: black;
}
.footer .navbar-item {
  padding: 0;
  margin: .5em 0;
  font-size: .8em;
}


@media only screen and (max-width: 767px) {
  .footer {
    padding: 0;
    text-align: center;
  }
}
